* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #008000;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow-y: hidden;
}

#road {
  width: 70%;
  height: 100%;
  background-color: rgb(125, 125, 125);
  position: relative;
}

#game-box {
  width:50vw;
  height: 100vh;
  background-image: url("../imagenes/road.png");
  background-repeat: repeat-y;
  background-position: center;
  position: relative;
  /* top: -80vh; */
  /* z-index: -9; */
}

/* #start-btn {
  background-color: greenyellow;
  color: black;
  padding: 20px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#start-container {
  background-image: url("../imagenes/craiyon_091909_una_imagen_que_sea_un_titulo_que_se_llama_smash_f1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Ajusta el tamaño y posicionamiento del contenedor según tus necesidades */
  /* width: 30%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */ 

#start-btn {
  background-color: black;
  color: red;
  padding: 20px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 20px;

  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#start-container {
  /* Ajusta la ruta de la imagen según tu archivo */
  background-image: url("../imagenes/craiyon_091909_una_imagen_que_sea_un_titulo_que_se_llama_smash_f1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  /* Ajusta el tamaño y posicionamiento del contenedor según tus necesidades */
  width: 30%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#start-container.hide {
  display: none;
}

#restart-btn {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#wingame-screen, #gameover-screen #start-container {
  display: none;
}

#alonso {
  position: absolute;
  top: 15vh;
}

#alonso img {
  width: 70px;
  height: 140px;
}

<<<<<<< HEAD
@keyframes roadMovement {
=======
/* @keyframes roadMovement {
>>>>>>> e01c4e5452cfae8a159b2138ecb5229c1a003e8b
  0% {
    top: 0;
  }
  100% {
    top: -2000vh;
  }
<<<<<<< HEAD
}

@media screen {
  
}
=======
} */

>>>>>>> e01c4e5452cfae8a159b2138ecb5229c1a003e8b
